.reveal .slides section .fragment.fade-in.highlight-red {
	opacity: 0;
}

.reveal .slides section .fragment.highlight-brown,
.reveal .slides section .fragment.highlight-black,
.reveal .slides section .fragment.fade-in.highlight-red.visible {
	opacity: 1;
}

.reveal .slides section .fragment.highlight-brown.visible {
	color: brown;
}

.reveal .slides section .fragment.highlight-black.visible {
	color: black;
}

.fdark {
	color: #222 !important;
}

.blue {
	color: #1b91ff !important;
}

.red {
	color: red !important;
}

.highlight-green {
	color: green !important;
}


/**
 * custom transition hack
 */

.reveal .slide-background[data-background-transition="slow"] {
	-webkit-transition-duration: 20s;
	   -moz-transition-duration: 20s;
	     -o-transition-duration: 20s;
	        transition-duration: 20s;

	-webkit-transition-timing-function: cubic-bezier(1.000, 0.010, 0.600, 0.995); 
	   -moz-transition-timing-function: cubic-bezier(1.000, 0.010, 0.600, 0.995); 
	     -o-transition-timing-function: cubic-bezier(1.000, 0.010, 0.600, 0.995); 
	        transition-timing-function: cubic-bezier(1.000, 0.010, 0.600, 0.995);
}

.reveal .slide-background.past[data-background-transition="keep"],
.reveal .slide-background.present[data-background-transition="keep"] {
	opacity: 1 !important;
	visibility: visible !important;
}


figure,
figcaption{
	display:block;
}

.polaroid {
	padding:20px 10px;
	width:100%;
	overflow:hidden;
	position: absolute;
	top: 0px;
	z-index: 9999;
}

.polaroid figcaption {
	color: black;
}

.large figure {
	width: 600px;
}


img.random {
	position: absolute !important;
	max-width:  1024px;
	max-height: 768px;
	border: none !important;

	-webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75) !important;
	-moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75) !important;
	box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75) !important;
}

.polaroid figure {
	float:left;
	position:relative;
	width:400px;
	margin:10px 20px;
	z-index: -1;

	padding: 6px 8px 10px 8px; /*size of the frame*/
	/*give the frame's background colour a gradient*/
	background: #eee6d8; /*fallback colour for browsers that don't support gradients*/
	background: -webkit-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -moz-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -o-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: -ms-linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	background: linear-gradient(top, #ede1c9, #fef8e2 20%, #f2ebde 60%);
	/*give the Polaroids a small drop shadow*/
	-webkit-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
	-moz-box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);
	box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, .75);

	-webkit-transform:rotate(20deg);
	-moz-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-ms-transform: rotate(20deg);
	transform: rotate(20deg);
	-webkit-backface-visibility:hidden; /*prevent rotated text in the caption being jagged in Chrome and Safari*/
}

.polaroid.paper figure {
	width: 150px;
}

.polaroid.paper figure figcaption {
	font-size: small;
	line-height: 25px;
}

/**
 * progress bar
 */

div.meter {
	background-color:transparent;
	border:none !important;
	position: relative;
	width: 50px;
	height:100%;
}

div.meterbar {
	background-color: green;
	width:100%;
	height:30px;
	position:absolute;
	bottom:0;
	left:0;

	/* CSS3 Progress Bar Transitions */
	transition: all 5s ease;
	-moz-transition: all 5s ease;
	-webkit-transition: all 5s ease;
	-o-transition: all 5s ease;
	-ms-transition: all 5s ease;
}
